<!DOCTYPE html>
<html>
<head>
    <title>YouTube Scraped Data</title>
</head>
<body bgcolor="#BBA0D0 ">
    <h1><center>YouTube Scraped Data<center></h1>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=aYLJnasivzI" target="_blank">Mera Safar – @IqlipseNova | Trending Song 2022</a></li>
            <li><a href="https://www.youtube.com/watch?v=2mWaqsC3U7k" target="_blank">"Phir Se Ud Chala Full Song Rockstar" | Ranbir Kapoor</a></li>
            <li><a href="https://www.youtube.com/watch?v=fdubeMFwuGs" target="_blank">Ilahi Full Video Song | Yeh Jawaani Hai Deewani</a></li>
            <li><a href="https://www.youtube.com/watch?v=UBBHpoW3AKA" target="_blank">BESABRIYAAN Full Video Song</a></li>
            <li><a href="https://www.youtube.com/watch?v=wPNtVZRLhzA" target="_blank">Ek Zindagi [Slowed + Reverb] | Angrezi Medium | Sabki Rok Hai Tok Hai</a></li>
        </ul>
    <a href="/">Go back to the homepage</a>
    
</body>
</html>
